<!DOCTYPE html>
<html>
<head>
  <title>Hayri Esmer</title>

  <!-- Mobile Specific
================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- CSS
================================================== -->
  <%= stylesheet_link_tag  "application-site", :media => "all" %>

  <!-- Java Script
================================================== -->
  <%= javascript_include_tag "application-site" %>

</head>

<body>

<!-- Wrapper Start -->
<div id="wrapper">


  <%= yield %>

</div>
<!-- Wrapper / End -->


<!-- Footer
================================================== -->

<!-- Footer Start -->
<div id="footer">
  <!-- 960 Container -->
  <div class="container">

    <!-- About -->
    <div class="four columns">
      <div class="footer-headline"><h4>-------</h4></div>
      <p></p>
      <p></p>
    </div>

    <!-- Useful Links -->
    <div class="four columns">
      <div class="footer-headline"><h4>-------</h4></div>
      <ul class="links-list">
        <li><a href="#">.</a></li>
        <li><a href="#">.</a></li>
        <li><a href="#">.</a></li>
        <li><a href="#">.</a></li>
        <li><a href="#">.</a></li>
        <li><a href="#">.</a></li>
        <li><a href="#">.</a></li>
      </ul>
    </div>

    <!-- Photo Stream -->
    <div class="four columns">
      <div class="footer-headline"><h4>Instagram</h4></div>
      <div id="instagram" class="flickr-widget">
        <script type="text/javascript">
            jQuery(document).ready(function($){
                $.getJSON('/instagram', function(instagram){
                    $("#instagram").html(tz_format_instagram(instagram));
                }); });
        </script>
        <div class="clear"></div>
      </div>
    </div>

    <!-- Latest Tweets -->
    <div class="four columns">
      <div class="footer-headline"><h4>Latest Tweets</h4></div>
      <ul id="twitter"></ul>

     <script type="text/javascript">
          jQuery(document).ready(function($){
              $.getJSON('/twitter', function(tweets){
                  $("#twitter").html(tz_format_twitter(tweets));
              }); });
      </script>
      <div class="clear"></div>
    </div>

    <!-- Footer / Bottom -->
    <div class="sixteen columns">
      <div id="footer-bottom">
        © Copyright 2014 by <a href="#">Hayri Esmer</a>. All rights reserved.
        <div id="scroll-top-top"><a href="#"></a></div>
      </div>
    </div>

  </div>
  <!-- 960 Container / End -->

</div>
<!-- Footer / End -->

</body>
</html>